<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
            ngModel     
            #firstName="ngModel" 
            id="firstName" 
            name="firstName" 
            type="text" 
            class="form-control" 
            type="text" 
            required
            minlength="4">
        <div *ngIf="firstName.touched && firstName.errors">
            <div 
                *ngIf="firstName.errors.required"
                class="alert alert-danger" 
                role="alert">Firstname is required</div>
            <div
                *ngIf="firstName.errors.minlength"
                class="alert alert-danger" 
            >Firstname should be at least {{firstName.errors.minlength.requiredLength}} characters</div>
        </div>
    </div>
   
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea 
            ngModel 
            #comment="ngModel" 
            name="comment" 
            id="comment" 
            cols="30" 
            rows="10" 
            class="form-control"
            required></textarea>
        <div 
            *ngIf="comment.touched && !comment.valid"
            class="alert alert-danger" 
            role="alert" (change)="log(e)">Comment is required</div>            
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
