<form [formGroup]="formPasswod" (ngSubmit)="onSubmit(formPasswod)" novalidate>
    <div class="form-group">
        <label for="oldpassword">old password</label>
        <input type="text" 
            class="form-control" 
            formControlName="oldpassword">
        <div *ngIf="formPasswod.controls.oldpassword.touched &&   formPasswod.controls.oldpassword.invalid">
            <div *ngIf="formPasswod.controls.oldpassword.errors.required" class="alert alert-danger">old password required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword">new password</label>
        <input type="password" 
            class="form-control" 
            formControlName="newpassword">
        <div *ngIf="formPasswod.controls.newpassword.touched &&   formPasswod.controls.newpassword.invalid">
            <div *ngIf="formPasswod.controls.newpassword.errors.required" class="alert alert-danger">new password required</div>
            <div *ngIf="formPasswod.controls.newpassword.errors.minlength" class="alert alert-danger">min length {{formPasswod.controls.newpassword.errors.minlength.requiredLength}}</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword">confirm password</label>
        <input type="password" 
            class="form-control" 
            formControlName="confirmpassword">
        <div *ngIf="formPasswod.controls.confirmpassword.touched &&   formPasswod.controls.confirmpassword.invalid">
            <div *ngIf="formPasswod.controls.confirmpassword.errors.required" class="alert alert-danger">confirm password required</div>
        </div>
    </div>
        <button 
        [disabled]="formPasswod.invalid"
        class="btn btn-primary" >Submit</button>
</form>

