<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
  
    <div class="form-group">
        <label for="username">User Name</label>
        <input 
            formControlName ="username"
            class="form-control" >  
             
             <div *ngIf="userForm.controls.username.touched && userForm.controls.username.invalid">
                <div
                    *ngIf="userForm.controls.username.errors.required" 
                    class="alert alert-danger">username is required</div>

                <div
                    *ngIf="userForm.controls.username.errors.cannotContainSpace" 
                    class="alert alert-danger">white spaces are not allowed</div>

                <div
                    *ngIf="userForm.controls.username.errors.shouldBeUnique" 
                    class="alert alert-danger">username is taken</div>
             </div>


    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName ="password"        

            class="form-control">
                         <div *ngIf="userForm.controls.password.touched && userForm.controls.password.invalid">
                <div
                    *ngIf="userForm.controls.password.errors.required" 
                    class="alert alert-danger">password is required</div>

             </div>
    </div>

    <button 
        [disabled]="userForm.invalid"
        class="btn btn-primary" >Submit</button>
</form>
